

.input{
    background-color: white;
    border: solid 3px #38b000;
    border-radius: 10px;
    margin-top: 0px;
    margin-right: 3px;
}
.button{
    background-color:#38b000;
    border-color:#38b000;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}
    .button:hover{
        background-color: #e85d04;
        border-color: #e85d04;
        transform: scale(1.2); 
    }

    @media(max-width:500px){
        .input{
            width: 50%;
            height: 50%;
        }
        .button{
            font-size: 12px;
        }
    }
