.App {
   text-align: center;
}
hr {
   display: none;
}
body {
   background-image: url('https://i.blogs.es/640a73/rick/1366_2000.jpg');
   background-size:cover;
   background-repeat: no-repeat;
   background-color: #004b23;
}  
@media(max-width:500px){
   body {
      background-image: none;
      background-color: #004b23;
   }
}

   
