.about{
    background-color:#003566cc;
    color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 90px;
    padding: 5px 20px 20px 20px;
    width: 70%;
    border: solid 4px #003566;
    font-size: 16px;
}
.div{
    display: flex;
    flex-direction: row;
}
.img{
    width:20%;
    margin-right: 10px;
    border: solid 4px white;
    border-radius: 15px;
}
.p{
    text-align: justify;
    font-size: 14px;
    margin-top: 40px;
}
.firma{
    margin-top: 0;
    margin-bottom: 0;
}
@media(max-width:500px){
    .div{
        flex-direction: column;
    
    }
    .img {
        width:50%;
        border: solid 2px white;
        margin:auto 
    }
    
    
}
